@use "../abstracts/" as *;

.container {
  --max-width: #{pxToRem($container-max-width)};
  --padding: #{$padding-mod} * 2;

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

@include mq(tablet) {
  .container[data-type="wide"] {
    --padding: #{$padding-mod} * 4;
  }
}

@include mq(desktop) {
  .container[data-type="wide"] {
    --max-width: #{pxToRem($container-max-width-wide)};
  }
}

.container[data-type="hero"] {
  --max-width: #{pxToRem(735px)};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;

  @include mq(desktop) {
    --max-width: #{pxToRem(1110px)};
  }
}

.flow > * + * {
  margin-top: var(--gap, 1rem);
}

.d-flex-2-col-spaced {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
  // width: fit-content;

  &[data-row="true"] {
    flex-direction: row;
    justify-content: space-between;
  }
}

@include mq(desktop) {
  .d-flex-2-col-spaced[data-footer="true"] {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.d-flex-2-col-spaced[data-type="start"] {
  align-items: flex-start;
}

// .d-flex.mx-auto {
//   justify-content: center;
// }

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  & > * {
    max-width: pxToRem(500px);
    margin-inline: auto;
  }

  @include mq(tablet) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.d-grid-2-col {
  display: grid;
  justify-content: center;
  grid-template-rows: 383px 244px;
  grid-template-columns: 343px;
  align-items: center;

  @include mq(tablet) {
    grid-template-columns: 413.56px 30.88px 290.56px;
    justify-content: space-between;
  }
}

.grid-auto-fit {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(pxToRem(342px), 100%), 1fr)
  );

  align-items: center;

  @include mq(desktop) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(pxToRem(540px), 100%), 1fr)
    );
  }
}

.interactive-figure {
  position: relative;
  overflow: hidden;

  figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgb(clr(neutral, 900), 0.75);
    backdrop-filter: blur(0.35rem);
  }

  @media (hover: hover) {
    figcaption {
      transition: transform ease-in-out 350ms;
      transform: translateY(100%);
    }

    &:hover figcaption {
      transform: translateY(0%);
    }
  }
}

.lead {
  color: clr(neutral, 900);
  text-transform: uppercase;

  & + p {
    margin-top: 0;
  }
}

.box-shadow-1 {
  box-shadow: 0 0 0.75rem rgb(0 0 0 / 0.25);
}

.clr-theme-light {
  color: $clr-white;
}
