@use "./mixins" as *;

// for the logo and any branding or related to brand identity 
// letter spacing, uppercasing 
// $ff-logo: new-farm, sans-serif;

// for headings, navs, buttons
// letter spacing, uppercasing 
// $ff-primary: gira-sans, sans-serif;

// body 
// $ff-secondary: merriweather,serif;

$ff-primary: "Space Grotesk", sans-serif;

$fs-heading-xl: 2.5rem;
$fs-heading-l: 2rem;
$fs-heading-m: 1.5rem;
$fs-heading-s: 1.125rem;
$fs-heading-xs: 1rem;
$fs-logo-font: 1.5rem;
$fs-body: 1rem;

// $fw-400: 400;
$fw-500: 500;
$fw-700: 700;
// $fw-800: 800;